:root {
    --main-app-color: rgb(2, 3, 35);
    --border-radius: 30px;
}

.container {
    display: grid;
    grid-template-columns: [left-pad-start] 5vw [left-pad-end logo-start] 32vw [logo-end pillar-start] 10vw [pillar-end bullets-start] 48vw [bullets-end right-pad-start] 5vw [right-pad-end];
    grid-template-rows: [title-start] 20vh [title-end logo-start] 5vh [exp-description-start] 40vh [exp-description-end exp-skills-start] 10vh [logo-end buffer-start] 5vh [buffer-end link-start] 10vh [link-end exp-skills-end bottom-pad-start] 10vh [bottom-pad-end];
    font-size: 1em;
    color: rgb(2, 3, 35);
}

.li {
    font-size: 1em;
    color: rgb(2, 3, 35);
} 

#leftFill{
    grid-column: left-pad-start / pillar-end;
    grid-row: logo-start / bottom-pad-end;
    background-color: rgb(2, 3, 35);
}

#rightFill{
    grid-column: right-pad-start / right-pad-end;
    grid-row: logo-start / bottom-pad-end;
    background-color: rgb(2, 3, 35);
}

/* #bottomFill{
    grid-column: left-pad-start / right-pad-end;
    grid-row: bottom-pad-start / bottom-pad-end;
    background-color: rgb(2, 3, 35);
} */

#logo{
    display: flex;
    flex: 1;
    grid-column-start : logo-start;
    grid-column-end : logo-end;
    grid-row-start : logo-start;
    grid-row-end : logo-end;
}

#skillsTitle{
    font-size: 2em;
}

#title{
    grid-column-start: left-pad-start;
    grid-column-end: right-pad-end;
    grid-row-start: title-start;
    grid-row-end: title-end;
    
    text-transform: uppercase;
    
    font-size: 4em;
    font-family: 'Oswald', sans-serif;
    color: white;
    background-color: rgb(2, 3, 35);
}

#expDescription{
    grid-column: bullets-start / bullets-end;
    grid-row: exp-description-start / exp-description-end;
    padding-left: 15px;
    padding-right: 15px;
}

#fullDescription{
    grid-column: bullets-start / bullets-end;
    grid-row: exp-description-start / exp-skills-end;
    padding-left: 15px;
    padding-right: 15px;
}

#expSkills{
    grid-column-start: bullets-start;
    grid-column-end: bullets-end;
    grid-row-start: exp-skills-start;
    grid-row-end: bottom-pad-start;
    padding-left: 15px;
    padding-right: 15px;
}

#cool-button{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
}

#cool-button:hover{
    color:#000000;
    background-color:#FFFFFF;
    cursor: pointer;
}

#linkToCompany{
    grid-column-start: left-pad-end;
    grid-column-end: pillar-start;
    grid-row-start: link-start;
    grid-row-end: link-end;
}

@media screen and (max-width: 600px){
    .container {
        display: grid;
        grid-template-columns: [c-logo-start c-start] 50vw [c-logo-end c-title-start] 50vw [c-title-end c-end];
        grid-template-rows: [r-logo-start r-title-start] 20vh [r-logo-end r-title-end r-exp-description-start] 35vh [r-exp-description-end r-bullets-start] 30vh [r-bullets-end r-visit-start] 15vh [r-visit-end];
        font-size: 1em;
        color: rgb(2, 3, 35);
    }
    
    .li {
        font-size: 1em;
        color: rgb(2, 3, 35);
    } 
    
    #logo{
        display: flex;
        flex: 1;
        grid-column: c-logo-start / c-logo-end;
        grid-row: r-logo-start / r-logo-end;
        background-color: var(--main-app-color);
    }

    #skillsTitle{
        font-size: 2em;
    }
    
    #title{
        grid-column: c-title-start / c-title-end;
        grid-row: r-title-start / r-title-end;
        
        text-transform: uppercase;
        
        font-size: 2em;
        font-family: 'Oswald', sans-serif;
        color: white;
        background-color: rgb(2, 3, 35);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    #expDescription{
        grid-column: c-start / c-end;
        grid-row: r-exp-description-start / r-exp-description-end;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 15px;
    }
    
    #fullDescription{
        grid-column: c-start / c-end;
        grid-row: r-exp-description-start / r-bullets-end;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    #expSkills{
        grid-column: c-start / c-end;
        grid-row: r-bullets-start / r-bullets-end;
        padding-left: 5px;
        padding-right: 5px;
    }

    #linkToCompany{
        grid-column: c-start / c-end;
        grid-row: r-visit-start / r-visit-end;
    }
}