.container-two-columns {
    display: grid;
    grid-template-rows: [r-title-start] 20vh [r-title-end r-top-pad-start] 5vh [r-top-pad-end r-logo-start r-content-start] 70vh [r-content-end r-bottom-pad-start] 5vh [r-bottom-pad-end];
    grid-template-columns: [c-left-pad-start] 5vw [c-left-pad-end c-left-column-start] 40vw [c-left-column-end c-middle-column-start] 10vw [c-middle-column-end c-right-column-start] 40vw [c-right-column-end c-right-pad-start] 5vw [c-right-pad-end]; 
}

#title{
    grid-column: c-left-pad-start / c-right-pad-end;
    grid-row: r-title-start / r-title-end;
    
    text-transform: uppercase;
    
    font-size: 4em;
    font-family: 'Oswald', sans-serif;
    color: white;
    background-color: rgb(2, 3, 35);
}

#columnOne{
    grid-column: c-left-column-start / c-left-column-end;
    grid-row: r-content-start / r-content-end;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end; */
    display: grid;
    grid-template-rows: [r-top-half-start] 60% [r-top-half-end r-bottom-half-start] 40% [r-bottom-half-end];
}

#col-one-first-half{
    grid-row: r-top-half-start / r-top-half-end;
}

#col-one-second-half{
    grid-row: r-bottom-half-start / r-bottom-half-end;
    text-align: right;
}

#columnTwo{
    grid-column: c-right-column-start / c-right-column-end;
    grid-row: r-content-start / r-content-end;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}

/* --------------------------^new stuff^---------------------------- */

.container {
    display: grid;
    grid-template-columns: [left-pad-start] 5vw [left-pad-end logo-start] 32vw [logo-end pillar-start] 10vw [pillar-end bullets-start] 48vw [bullets-end right-pad-start] 5vw [right-pad-end];
    grid-template-rows: [title-start] 20vh [title-end logo-start] 5vh [exp-description-start] 40vh [exp-description-end exp-skills-start] 10vh [logo-end buffer-start] 5vh [buffer-end link-start] 10vh [link-end exp-skills-end bottom-pad-start] 10vh [bottom-pad-end];
    font-size: 1em;
    color: rgb(2, 3, 35);
}

.li {
    font-size: 1em;
    color: rgb(2, 3, 35);
} 

#leftFill{
    grid-column: left-pad-start / pillar-end;
    grid-row: logo-start / bottom-pad-end;
    background-color: rgb(2, 3, 35);
}

#rightFill{
    grid-column: right-pad-start / right-pad-end;
    grid-row: logo-start / bottom-pad-end;
    background-color: rgb(2, 3, 35);
}

/* #bottomFill{
    grid-column: left-pad-start / right-pad-end;
    grid-row: bottom-pad-start / bottom-pad-end;
    background-color: rgb(2, 3, 35);
} */

#logo{
    display: flex;
    flex: 1;
    grid-column-start : logo-start;
    grid-column-end : logo-end;
    grid-row-start : logo-start;
    grid-row-end : logo-end;
}

#skillsTitle{
    font-size: 2em;
}
/* 
#title{
    grid-column-start: left-pad-start;
    grid-column-end: right-pad-end;
    grid-row-start: title-start;
    grid-row-end: title-end;
    
    text-transform: uppercase;
    
    font-size: 4em;
    font-family: 'Oswald', sans-serif;
    color: white;
    background-color: rgb(2, 3, 35);
} */

#expDescription{
    grid-column: bullets-start / bullets-end;
    grid-row: exp-description-start / exp-description-end;
    padding-left: 15px;
    padding-right: 15px;
}

#fullDescription{
    grid-column: bullets-start / bullets-end;
    grid-row: exp-description-start / exp-skills-end;
    padding-left: 15px;
    padding-right: 15px;
}

#expSkills{
    grid-column-start: bullets-start;
    grid-column-end: bullets-end;
    grid-row-start: exp-skills-start;
    grid-row-end: bottom-pad-start;
    padding-left: 15px;
    padding-right: 15px;
}

.button{
    background-color: white;
    padding: 10px;
    height: 20px;
    color: rgb(2, 3, 35);
    cursor: pointer;
    border-radius: 20px;
    font-weight: bold;
    /* position: fixed; */
    /* right: 0;  */
    /* bottom: 15%; */
}

#linkToCompany{
    grid-column-start: left-pad-end;
    grid-column-end: pillar-start;
    grid-row-start: link-start;
    grid-row-end: link-end;
}

@media screen and (max-width: 600px){
    .container {
        display: grid;
        grid-template-columns: [c-logo-start c-start] 50vw [c-logo-end c-title-start] 50vw [c-title-end c-end];
        grid-template-rows: [r-logo-start r-title-start] 20vh [r-logo-end r-title-end r-exp-description-start] 35vh [r-exp-description-end r-bullets-start] 35vh [r-bullets-end r-visit-start] 10vh [r-visit-end];
        font-size: 1em;
        color: rgb(2, 3, 35);
    }
    
    .li {
        font-size: 1em;
        color: rgb(2, 3, 35);
    } 
    
    #logo{
        display: flex;
        flex: 1;
        grid-column: c-logo-start / c-logo-end;
        grid-row: r-logo-start / r-logo-end;
    }
    
    #skillsTitle{
        font-size: 2em;
    }
    
    #title{
        grid-column: c-title-start / c-title-end;
        grid-row: r-title-start / r-title-end;
        
        text-transform: uppercase;
        
        font-size: 2.5em;
        font-family: 'Oswald', sans-serif;
        color: white;
        background-color: rgb(2, 3, 35);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    #expDescription{
        grid-column: c-start / c-end;
        grid-row: r-exp-description-start / r-exp-description-end;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 15px;
    }
    
    #fullDescription{
        grid-column: c-start / c-end;
        grid-row: r-exp-description-start / r-bullets-end;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    #expSkills{
        grid-column: c-start / c-end;
        grid-row: r-bullets-start / r-bullets-end;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .button{
        background-color: white;
        padding: 10px;
        height: 20px;
        color: rgb(2, 3, 35);
        cursor: pointer;
        border-radius: 20px;
        font-weight: bold;
        /* position: fixed; */
        /* right: 0;  */
        /* bottom: 15%; */
    }
    
    #linkToCompany{
        grid-column: c-start / c-end;
        grid-row: r-visit-start / r-visit-end;
    }
}