.button{
    background-color: #4CaF50;
    padding: 10px;
    height: 20px;
    color: white;
    cursor: pointer;
    position: fixed;
    right: 0; 
    bottom: 15%;
}

.container {
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(5, 20%);
    border: solid;
    background-color: cyan;
    font-size: 1em;
    color: yellow;
    width: 100%;
    min-height: 100vh;
}

.li {
    font-size: 1em;
    border: solid;
    color: green;
} 

#logo{
    grid-column-start : 2;
    grid-column-end : 5;
    grid-row-start : 2;
    grid-row-end : 5;
}

#title{
    grid-area: 2 / 4 / 3 / 9;
    border: solid;
    font-size: 200%;
    font-weight: bold;
    text-transform: uppercase;
}

#content{
    grid-area: 3 / 5 / 5 / 10;
}
