.job-content{
    padding: 10px;
    /* text-align: left; */
}

.divider{
    border-bottom: 1px solid #40e0d0;
    border-width: 2.5px;
}

#container-descriptors{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

