.App {
  text-align: center;
  font-size : 1.5vw;
}

.App-header {
  background-color: #282c34;
  min-height: 50vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: calc(10px + 2vmin);
  color: white;
}

.floatingMenu{
  text-align: right;
  position: fixed;
  right: 0;
  bottom: 1vh;
  color: white;
  z-index: 1;
}

.fullpage{
  z-index: -1;
}
